

@{
    ViewBag.Title = "CylinderRegister Details";
    ViewBag.SubTitle = "Team Map";
}

@section Menu {
    @Scripts.Render("~/Scripts/Bundle/CylinderRegister/CylinderRegister/menu")
}

@Styles.Render("~/AdminLTE/Bundle/plugins/daterangepicker/css")
@Styles.Render("~/AdminLTE/Bundle/plugins/colorpicker/css")
@Styles.Render("~/AdminLTE/Bundle/plugins/timepicker/css")
@Styles.Render("~/AdminLTE/Bundle/plugins/select2/css")
@Styles.Render("~/AdminLTE/Bundle/dist/css")
@Styles.Render("~/AdminLTE/Bundle/dist/css/skins")
@Styles.Render("~/Styles/Bundle/Elements/Modals")
<style>
    .error {
        color: red
    }
</style>
<div class="box box-default">
    <div class="box-header with-border">
        @*<h3 class="box-title">Select2</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>*@
    </div>
    <form id="form1" name="form1">
        <div class="box-body">
            <div class="row" style="  width: 25%;height:15%" hidden>
                @*<div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">

                                <img style="width: 125px;height:125px;display:block; background: url(../../Image/imageadd.jpg)  ;border:solid; object-fit: contain" id="blah" src="@Model.Image"   />
                            </div>
                            <label for="exampleInputEmail1">CylinderRegister logo</label>
                            <input type='file' id="imgInp" />
                        </div>
                    </div>*@
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control required" id="Name" tabindex="1" name="Name" value="@Model.CylinderRegisterDetails.Name" placeholder="Enter Name">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">HSN Code</label>
                            <input type="text" class="form-control" id="HSN_Code" tabindex="3" name="HSN_Code" value="@Model.CylinderRegisterDetails.HSN_Code" placeholder="Enter HSN Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Rent Slab 1</label>
                            <input type="number" class="form-control" id="RentDaysSlab1" name="RentDaysSlab1" tabindex="5" value="@Model.CylinderRegisterDetails.RentDaysSlab1" placeholder="Enter Rent Slab 1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Remarks</label>
                            <input type="text" class="form-control" id="Remarks" name="Remarks" tabindex="7" value="@Model.CylinderRegisterDetails.Remarks" placeholder="Enter Remarks">
                        </div>
                    </div>


                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Short Name</label>
                            <input type="text" class="form-control" id="ShortName" name="ShortName" tabindex="2" value="@Model.CylinderRegisterDetails.ShortName" placeholder="Enter Short Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Amount</label>
                            <input type="number" class="form-control" id="SellingAmount" name="SellingAmount" tabindex="4" value="@Model.CylinderRegisterDetails.SellingAmount" placeholder="Enter Amount">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Rent Slab 2</label>
                            <input type="number" class="form-control" id="RentDaysSlab2" name="RentDaysSlab2" tabindex="6" value="@Model.CylinderRegisterDetails.RentDaysSlab2" placeholder="Enter Rent Slab 2">
                        </div>
                    </div>
                   


                </div>
            </div>
        </div>
    </form>
    <div class="box-footer">
        <button id="First" class="btn btn-primary">Save</button>
        <button id="Second" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Save</button>
    </div>

    @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Launch demo modal
        </button>*@

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    Save changes?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="savebtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/AdminLTE/Bundle/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Bundle/Company/Advanced")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/jquery-validate/js")
    <script type="text/javascript">
        $('#First').click(function(){
            if( !$("#form1").valid())
            {
                return
            }
            else{
                $('#Second').click()
            }
        })


            $(document).ready(function () {

                $('#Second').hide();
                $("#form1").validate({
                    rules: {
                        Name: {
                            required: true
                        },
                        ShortName: {
                            required: true
                        },
                        
                       
                    },
                    messages: {
                        Name: "Name is required",
                        ShortName: "Short Name is required"
                       
                    }
                });
                $('#savebtn').click(function(){
                    if( !$("#form1").valid())
                    {
                        $('#myModal').modal('hide');
                        return
                    }
                    var data = {
                        Id: @Model.CylinderRegisterDetails.Id,
                        Name: $('#Name').val(),
                        ShortName: $('#ShortName').val(),
                        RentDaysSlab1: $('#RentDaysSlab1').val(),
                        HSN_Code: $('#HSN_Code').val(),
                        RentDaysSlab2: $('#RentDaysSlab2').val(),
                        Remarks: $('#Remarks').val(),
                        SellingAmount: $('#SellingAmount').val(),
                       
                    }

                    var url='@Url.Action("SaveDetails", "CylinderRegister")';
                    $.ajax({
                        type:"POST",
                        url:url,
                        data: JSON.stringify(data) ,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function () {
                            window.location.href= '@Url.Action("CylinderRegisterReport", "CylinderRegister")';
                        },
                        error: function () {
                            alert("Error while inserting data");
                        }
                    })
                });
            });
    </script>

}





