
@{
    ViewBag.Title = "Customer Details";
    ViewBag.SubTitle = "Team Map";
}


@section Menu {
    @Scripts.Render("~/Scripts/Bundle/Customer/Customer/menu")
}
@Styles.Render("~/AdminLTE/Bundle/plugins/daterangepicker/css")
@Styles.Render("~/AdminLTE/Bundle/plugins/colorpicker/css")
@Styles.Render("~/AdminLTE/Bundle/plugins/timepicker/css")
@Styles.Render("~/AdminLTE/Bundle/plugins/select2/css")
@Styles.Render("~/AdminLTE/Bundle/dist/css")
@Styles.Render("~/AdminLTE/Bundle/dist/css/skins")
@Styles.Render("~/Styles/Bundle/Elements/Modals")
<style>
    .error {
  color: red
}
</style>
<div class="box box-default">
    <div class="box-header with-border">
        @*<h3 class="box-title">Select2</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>*@
    </div>
    <form id="form1" name="form1">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name<font color="red">*</font></label>
                            <input type="text" class="form-control" id="NAME" tabindex="1" name="NAME" value="@Model.CustomerDetails.NAME" placeholder="Enter customer Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Address<font color="red">*</font></label>
                            <textarea class="form-control" style="height: 108px;" rows="5" id="ADDRESS" name="ADDRESS" tabindex="3" value="@Model.CustomerDetails.ADDRESS" placeholder="Enter Address"></textarea>
                            @*<input type="text" class="form-control" id="ADDRESS" tabindex="3" name="ADDRESS" value="@Model.CustomerDetails.ADDRESS" placeholder="Enter Address">*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="text" class="form-control" id="EMAIL_ID" tabindex="6" name="EMAIL_ID" value="@Model.CustomerDetails.EMAIL_ID" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Register Date</label>
                            <input type="date" class="form-control" id="REGISTER_DATE" tabindex="8" name="REGISTER_DATE" value="@Model.CustomerDetails.REGISTER_DATE" placeholder="Enter Register Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Deposite</label>
                            <input type="number" class="form-control" id="DEPOSITE" tabindex="10" name="DEPOSITE" value="@Model.CustomerDetails.DEPOSITE" placeholder="Enter Deposite">
                        </div>
                    </div>

                    <div class="form-group">

                        @*<select id="Archive" name="Active" class="form-control select2" value="@Model.CustomerDetails.ACTIVE" style="width: 100%;" tabindex="12">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>*@
                        
                        <input type="checkbox" class="form-check-input" id="IS_FLOW_METER_SALED" tabindex="11" name="IS_FLOW_METER_SALED" value="@Model.CustomerDetails.IS_FLOW_METER_SALED" placeholder="Enter Is Flow Meter Saled"><label style="padding-left:25px;padding-right:25px;" for="exampleInputEmail1">Is Flow Meter Saled</label>


                        <input  type="checkbox" class="form-check-input" id="ACTIVE" tabindex="12" name="ACTIVE" value="@Model.CustomerDetails.ACTIVE"> <label for="exampleInputEmail1" style="padding-left:25px">Active</label>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Closed Date</label>
                            <input type="date" class="form-control" id="CLOSE_DATE" tabindex="14" name="CLOSE_DATE" value="@Model.CustomerDetails.CLOSE_DATE" placeholder="Enter Closed Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Deposite Refund Amount</label>
                            <input type="number" class="form-control" id="DEPOSITE_RETURENED_AMOUNT" tabindex="15" name="ZipCode" value="@Model.CustomerDetails.DEPOSITE_RETURENED_AMOUNT" placeholder="Enter Deposite Refund Amount">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Short Name<font color="red">*</font></label>
                            <input type="text" class="form-control" id="SHORT_NAME" tabindex="2" name="SHORT_NAME" value="@Model.CustomerDetails.SHORT_NAME" placeholder="Enter Customer Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mob1<font color="red">*</font></label>
                            <input type="text" class="form-control" id="MOB1" tabindex="4" name="MOB1" value="@Model.CustomerDetails.MOB1" placeholder="Enter Mobile Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mob2</label>
                            <input type="text" class="form-control" id="MOB2" tabindex="5" name="MOB2" value="@Model.CustomerDetails.MOB2" placeholder="Enter Mobile Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mode</label>
                           
                            <select id="MODE" name="MODE" class="form-control select2" value="@Model.CustomerDetails.MODE" style="width: 100%;" tabindex="7">
                                <option value="WS">WorkShop</option>
                                <option value="HM">Home</option>
                                <option value="HP">Hospital</option>
                                <option value="AM">Ambulance</option>
                                <option value="IN">Industries</option>
                                <option value="CO">Contract</option>
                                <option value="OT">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Agreement Bill Number</label>
                            <input type="text" class="form-control" id="AGREEMENT_BILL_NUMER" tabindex="9" name="AGREEMENT_BILL_NUMER" value="@Model.CustomerDetails.AGREEMENT_BILL_NUMER" placeholder="Enter Agrement Bill Number">
                        </div>
                    </div>




                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Remarks</label>
                            <textarea class="form-control" style="height: 147px;" rows="7" id="REMARKS" name="REMARKS" tabindex="13" value="@Model.CustomerDetails.REMARKS" placeholder="Enter Remarks"></textarea>
                            @*<input type="text" class="form-control" id="REMARKS" tabindex="14" name="REMARKS" value="@Model.CustomerDetails.REMARKS" placeholder="Enter Remarks">*@
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </form>
    <div class="box-footer">
        <button id="First"class="btn btn-primary">Save</button>
        <button id="Second" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Save</button>
    </div>
    @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Launch demo modal
        </button>*@

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    Save changes?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="savebtn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/AdminLTE/Bundle/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Bundle/Company/Advanced")
    @Scripts.Render("~/AdminLTE/Bundle/plugins/jquery-validate/js")
    <script type="text/javascript">
        $('#First').click(function(){
            if( !$("#form1").valid())
            {   
                return
            }
            else{
                $('#Second').click()
            }
        })

        //$("input[type='checkbox'].ShowOnMapSA").change(function () {
        //    if ($('#ShowOnMapSA').is(':checked')) {
        //        $(".ShowOnMap").prop('checked', true);
        //    }
        //    else {
        //        $(".ShowOnMap").prop('checked', false);
        //    }
        //    loadData()
        //});
            $(document).ready(function () {
                // 1. prepare the validation rules and messages.
              
                $('#Second').hide();
                $("#form1").validate({
                    rules: {
                        NAME: {
                            required: true
                        },
                        
                        SHORT_NAME: {
                            required: true
                        },
                        MOB1:{
                            required:true
                        },
                        
                    },
                    messages: {
                        NAME: "Customer Name is required",
                        SHORT_NAME: "Customer Code is required",
                        MOB1: "Please enter a Mobile Number",
                        ADDRESS: "Please enter Address",
                        
                    }
                });
                $('#savebtn').click(function(){
                    if( !$("#form1").valid())
                    {   
                        $('#myModal').modal('hide');
                        return
                    }
                    var data={ Id : @Model.CustomerDetails.Id,
                        NAME: $('#NAME').val(),
                        SHORT_NAME: $('#SHORT_NAME').val(),
                        MOB1: $('#MOB1').val(),
                        MOB2: $('#MOB2').val(),
                        ADDRESS: $('#ADDRESS').val(),
                        DEPOSITE: $('#DEPOSITE').val(),
                        EMAIL_ID: $('#EMAIL_ID').val(),
                        AGREEMENT_BILL_NUMER: $('#AGREEMENT_BILL_NUMER').val(),
                        ACTIVE: $('#ACTIVE').is(':checked'),
                        REGISTER_DATE: $('#REGISTER_DATE').val(),
                        IS_FLOW_METER_SALED: $('#IS_FLOW_METER_SALED').is(':checked'),
                        CLOSE_DATE: $('#CLOSE_DATE').val(),
                        DEPOSITE_RETURENED_AMOUNT: $('#DEPOSITE_RETURENED_AMOUNT').val(),
                        REMARKS: $('#REMARKS').val(),
                        MODE: $('#MODE').val()}
                    var url='@Url.Action("SaveDetails", "Customer")';
                    $.ajax({
                        type:"POST",
                        url:url,
                        data: JSON.stringify(data) ,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function () {
                            window.location.href= '@Url.Action("CustomerReport", "Customer")';
                        },
                        error: function () {
                            alert("Error while inserting data");
                        }
                    })
                });
            });
    </script>

}




